openai
tiktoken
prompt_toolkit
msgpack
pyyaml
json-repair
aiofiles
python-ulid
requests
jinja2
itsdangerous
fastapi
uvicorn
websockets
python-multipart
beautifulsoup4
discord.py
python-telegram-bot
tree-sitter
tree-sitter-python
tree-sitter-javascript
tree-sitter-typescript
tree-sitter-html
tree-sitter-css
tree-sitter-cpp
tree-sitter-c-sharp
tree-sitter-rust
tree-sitter-ruby
tree-sitter-go
tree-sitter-java
