# base requirements
openai
tiktoken
prompt_toolkit
msgpack
pyyaml
json-repair
aiofiles
python-ulid

# webUI stuff
requests
jinja2
itsdangerous
# older starlette versions have a critical security vulnerability
starlette >= 1.0.1
fastapi
uvicorn
websockets
python-multipart

# web scraping module requirements
beautifulsoup4
ddgs

# channel requirements
discord.py
python-telegram-bot

# coder module requirements (treesitter)
tree-sitter
tree-sitter-python
tree-sitter-javascript
tree-sitter-typescript
tree-sitter-html
tree-sitter-css
tree-sitter-cpp
tree-sitter-c-sharp
tree-sitter-rust
tree-sitter-ruby
tree-sitter-go
tree-sitter-java
